   body {
        margin:0px;
        padding: 0px;
        height: 100%;
    }
    *, h2, h4 {font-family: 'PT Sans', sans-serif;}
    h2 {font-size:18px;}
    #main {
        border-bottom: solid rgba(57,57,57,1);
        border-bottom-width: 2px;
        height:80vh;
    }
    #canvas {
        height:100%;
        margin: auto;
        position: relative;
    }
    #canvas img {
        position:absolute;
        right: 10px;
        top: 10px;
        width:50px;
    }
    #sidebar {
        border-right: solid rgba(57,57,57,1);
        border-right-width: 2px;
        height:100%;
        background-color: rgba(234,234,234,1);
        position: relative;
    }
    #header {
        border-bottom: solid rgba(57,57,57,1);
        border-bottom-width: 1px;
        margin-top:15px;
        margin-bottom:15px;
        text-align: left;
        line-height: 4px;
    }
    #info {
        margin-top:30px;
    }
    #hoverText{
        font-size: 13px;
        text-align: center

    }
    #regionText {
        text-align: center
    }
    #imgs {
        text-align: center;

    }
    #imgs img {
        width:65px;
        -webkit-filter: drop-shadow(2px 2px 2px rgba(57,57,57,0.5));
        filter: drop-shadow(2px 2px 2px rgba(57,57,57,0.5));
    }
    #imgs .card {
        background-color: rgba(0,0,0,0);
        border-color: rgba(0,0,0,0);
        height:70px;
    }
    #imgs p {
        color: white;
        position: relative;
        margin-left:40px;
        bottom:20px;
    }
    #noResources {
        color: rgba(57,57,57,1) !important;
        margin-left:0 !important;
        margin-top:50px;
    }
    #rflDescription img {
        width: 50px;
        -webkit-filter: drop-shadow(2px 2px 2px rgba(57,57,57,0.5));
        filter: drop-shadow(2px 2px 2px rgba(57,57,57,0.5));
    }
    #rflDescription .card {
        border-color: rgba(0,0,0,0)
    }
    #rflDescription .card-divider {
        background-color: rgba(0,0,0,0);
        text-align: center;
        border-bottom: solid rgba(57,57,57,.4);
        border-bottom-width: 2px;
    }
    .region {
        stroke: #fff;
        stroke-width:1.3px;
    }
    .activeState {
        stroke: rgba(57,57,57,1);
        stroke-width:2px;
    }
    .svg-container {
        margin:auto;
        display: block;
        position: relative;
    }
    
    